@model IEnumerable<WebSiteVozesUnidas.Models.MaterialDidatico>

@{
    ViewData["Title"] = "Materiais Didáticos";
    // Convertendo o ViewData para o tipo correto
    var lista = ViewData["lista"] as List<WebSiteVozesUnidas.Models.CategoriaMaterial>;
}

<p>
    @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
    {
        <a asp-action="Create">Criar Novo</a>
    }

</p>

<div style="max-width: 1000px; margin: 0 auto; margin-bottom: 20px">
    <ul class="nav nav-underline" style="display: flex; justify-content:space-around; border: solid; border-width: 1px; border-radius: 50px; padding: 0; list-style: none;">
        @foreach (var categoria in lista)
        {
            <li class="nav-item p-2" style="display: flex; justify-content: center; align-items: center;">
                <button class="tablink btn text-black" onclick="trocarElementos('@categoria.Categoria', this, 'cor')">
                    <h4 style="margin: 0;">@categoria.Categoria</h4>
                </button>
            </li>
        }
    </ul>
</div>

<div id="Livros" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Livros"))
    {
        <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center">
            <img src="~/img/@item.ImgMaterial" alt="Imagem do livro" style="max-width: 200px; height: 280px;" />

            <div class="malala" style="margin-top: 50px; padding-left:50px">
                <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                {
                <a asp-action="Edit" asp-route-id="@item.IdMaterialDidatico">Editar</a>
                <a asp-action="Details" asp-route-id="@item.IdMaterialDidatico">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.IdMaterialDidatico">Deletar</a>
                }
            </div>

        </div>
    }
</div>

<div id="Videos" class="tabcontent">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Videos"))
    {
        <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center">
            <img src="~/img/@item.ImgMaterial" alt="Imagem do video" style="max-width: 300px; height: 200px;" />

            <div class="malala" style="margin-top: 50px; padding-left:50px">
                <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
                <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.IdMaterialDidatico">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdMaterialDidatico">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdMaterialDidatico">Deletar</a>
                }
            </div>

        </div>
    }
</div>

<div id="Artigos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Artigos"))
    {
        <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center">
            <img src="~/img/@item.ImgMaterial" alt="Imagem do artigo" style="max-width: 300px; height: 200px;" />

            <div class="malala" style="margin-top: 50px; padding-left:50px">
                <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.IdMaterialDidatico">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdMaterialDidatico">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdMaterialDidatico">Deletar</a>
                }
            </div>

        </div>
    }
</div>

<div id="Direitos" class="tabcontent" style="display:none;">
    @foreach (var item in Model.Where(i => i.Categoria.Categoria == "Direitos"))
    {
        <div class="cartao" style="display:flex; flex-direction:row; margin-bottom: 50px; justify-content:center">
            <img src="~/img/@item.ImgMaterial" alt="Imagem do direito" style="max-width: 300px; height: 200px;" />

            <div class="malala" style="margin-top: 50px; padding-left:50px">
                <h3 style="max-width:800px">@Html.DisplayFor(modelItem => item.Titulo)</h3>
                <p style="max-width: 680px">@Html.DisplayFor(modelItem => item.Descricao)</p>
                @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.IdMaterialDidatico">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdMaterialDidatico">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.IdMaterialDidatico">Deletar</a>
                }
            </div>

        </div>
    }
</div>

@section Scripts {
    <partial name="_scriptPartial" />
}
<script src="~/js/site.js"></script>


