@model IEnumerable<WebSiteVozesUnidas.Models.Usuario>

<h1>Lista de Contas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>CNPJ/CPF</th>
            <th>Telefone</th>
            <th>Descrição</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>@usuario.Tipo</td>

                @if (usuario is WebSiteVozesUnidas.Models.Empresa)
                {
                    var empresa = usuario as WebSiteVozesUnidas.Models.Empresa;
                    <td>@empresa.Cnpj</td>
                    <td>@empresa.Telefone</td>
                    <td>@empresa.Descricao</td>
                }
                else if (usuario is WebSiteVozesUnidas.Models.Candidato)
                {
                    var candidato = usuario as WebSiteVozesUnidas.Models.Candidato;
                    <td>@candidato.Cpf</td>
                    <td>N/A</td>
                    <td>N/A</td>
                }

                <td>
                    <a asp-action="Edit" asp-route-id="@usuario.IdUsuario">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.IdUsuario">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 