@using System.Security.Claims
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSiteVozesUnidas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebSiteVozesUnidas.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body style="font-family:'Inter'">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/LOGO.png" style="height:8vh" alt="Logo" />
                </a>                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                        @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="index">Contas</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Noticias" asp-action="index">Noticias</a>
                        </li>
                        @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AvaliacaoEspecialhistas" asp-action="index">Especialhistas</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MaterialDidatico" asp-action="index">Material Didatico</a>
                        </li>
                        @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CategoriaMaterials" asp-action="index">Categorias de Materiais</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Especialhistas" asp-action="index">Somelies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="index">Posts</a>
                        </li>
                        @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Comentarios" asp-action="index">Comentarios</a>
                        </li>
                        }
                        @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CategoriaPosts" asp-action="index">CategoriaPosts</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="VagaEmpregoes" asp-action="index">Vagas</a>
                        </li>
                        @if (User.HasClaim(c => c.Type == "UsuarioTipo" && c.Value == "Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CandidaturaVagampregoes" asp-action="index">Candidatos</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CandidatoJornalistas" asp-action="index">Candidatos Jornalistas</a>
                        </li>
                    </ul>

                    @{
                        var claimsIdentity = User.Identity as ClaimsIdentity;
                        var userName2 = claimsIdentity?.FindFirst(ClaimTypes.Name)?.Value;
                        var userImage = claimsIdentity?.FindFirst("ImagemPerfil")?.Value ?? "person.png";
                        var userEmail = claimsIdentity?.FindFirst(ClaimTypes.Email)?.Value;
                    
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="~/img/@userImage" alt="@userImage" class="rounded-circle" style="width: 8vh; height: 8vh; object-fit: cover;" />
                        </button>
                    }else{
                        <button type="button" class="btn">
                            <a class="nav-link text-dark m-0 p-0" asp-area="" asp-controller="Usuarios" asp-action="Logout">
                            <img src="~/img/@userImage" alt="@userImage" class="rounded-circle" style="width: 8vh; height: 8vh; object-fit: cover;"/>
                            </a>
                        </button>           
                    }


                    <!-- First Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content text-center">
                                <div class="modal-header border-0 justify-content-center">
                                    <!-- Image button inside the first modal -->
                                    <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#imgUserModal" data-bs-dismiss="modal">
                                        <img src="~/img/@userImage" alt="@userImage" class="rounded-circle" style="width: 24vh; height: 24vh; object-fit: cover;" />
                                    </button>
                                </div>
                                <div>
                                    <span>Nome:</span>
                                    <span>@userName2</span>
                                </div>
                                <div>
                                    <span>Email:</span>
                                    <span>@userEmail</span>
                                <div>
                                    <span>Cargo:</span>
                                    <span>@userName2</span>
                                </div>
                                <div class="modal-footer border-0 justify-content-center d-flex flex-column">
                                    <button type="button" class="btn btn-primary px-5">
                                            <a class="nav-link text-white m-0 p-0" asp-area="" asp-controller="Usuarios" asp-action="Index">Visitar Perfil</a>
                                        </button>
                                    <button type="button" class="btn border border-dark">
                                            <a class="nav-link text-dark m-0 p-0" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Second Modal for Larger Image -->
                    <div class="modal fade" id="imgUserModal" tabindex="-1" aria-labelledby="imgUserModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content bg-transparent border-0">
                                <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                                    <img src="~/img/@userImage" alt="@userImage" style="max-width: 90vh; height: 90vh; object-fit: cover;" />
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebSiteVozesUnidas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
